
.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  .enterRoom {
    margin-bottom: 20px;
  }
  
  .enterRoom input {
    padding: 10px;
    margin-right: 10px;
  }
  
  .enterRoom button {
    padding: 10px 20px;
  }
  
  .separatorText {
    margin: 20px 0;
  }
  
  button {
    padding: 10px 20px;
  }
  